<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>

<form action="/addUser" method="post">

    <input name="id" type="number" style="display: none">
    <input name="userName" type="text" placeholder="userName">
    <input name="nickName" type="text" placeholder="nickName">
    <input name="userSex" type="text" placeholder="userSex">
    <input name="passWord" type="text" placeholder="passWord">

    <input type="submit" value="提交">
</form>

</body>
</html>